応募一覧ページ
<% @applies.each do |apply| %>
  <div>
    <%= link_to apply.recruitment.title, apply_path(apply.id) %>
  </div>
  <div>
    <%= link_to apply.recruitment.user.nickname, user_path(apply.recruitment.user.id) %>
  </div>
  <div>
    開催日時：
    <%= apply.recruitment.event_date %>
    <%= apply.recruitment.start_time.name %>
    -
    <%= apply.recruitment.end_time.name %>
  </div>
  <div>
    場所：
    <%= apply.recruitment.prefecture.name %>
    >
    <%= apply.recruitment.ball_park %>
  </div>
  <div>
    募集の種類：
    <%= apply.recruitment.category.category_name %>
  </div>
  <div>
    レベル：
    <%= apply.recruitment.level.name %>
  </div>
<% end %>