<div class="main_content">
  <div class="sign_up">
    <h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :nickname, "ニックネーム" %><br />
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "input_form" %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input_form" %>
  </div>

  <div class="field">
    <%= f.label :phone_number, "電話番号" %><br />
    <%= f.phone_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "input_form" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "input_form", placeholder: "6字以上" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード(確認用)" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input_form" %>
  </div>

  <%= f.fields_for :penalty_point, PenaltyPoint.new do |f| %>
  <%= f.hidden_field :point, value: 0 %> 
  <% end %>

  <%= f.fields_for :evaluation, Evaluation.new do |f| %>
  <%= f.hidden_field :good, value: 0 %>
  <%= f.hidden_field :usually, value: 0 %>
  <%= f.hidden_field :bad, value: 0 %>
  <% end %>

  <div class="actions">
    <%= f.submit "新規登録", class: :form__btn %>
  </div>
<% end %>

  </div>
</div>