<h1>ようこそ</h1>
<p>トップページです。</p>
<%= link_to "募集する", new_recruitment_path %>
<div>
  募集一覧
</div>
<% @recruitments.each do |recruitment| %>
  <div>
    <%= link_to recruitment_path(recruitment.id) do %>
      <%= recruitment.title %>
    <% end %>
  </div>
  <div>
    <%= link_to user_path(recruitment.user.id) do %>
      <%= recruitment.user.nickname %>
    <% end %>
  </div>
  <div>
    開催日時：
    <%= recruitment.event_date %>
    <%= recruitment.start_time.name %>
    -
    <%= recruitment.end_time.name %>
  </div>
  <div>
    場所：
    <%= recruitment.prefecture.name %>
    >
    <%= recruitment.ball_park %>
  </div>
  <div>
    募集の種類：
    <%= recruitment.category.category_name %>
  </div>
  <div>
    レベル：
    <%= recruitment.level.name %>
  </div>
<% end %>