<div class="recruitment_area">
  <h1>募集一覧</h1>
    <% @recruitments.each do |recruitment| %>
      <div class="recruitment_list">
        <div class="title">
          <%= link_to recruitment_path(recruitment.id) do %>
            <%= recruitment.title %>
          <% end %>
        </div>
        <div class="user_name">
          <%= link_to user_path(recruitment.user.id) do %>
            <%= recruitment.user.nickname %>
          <% end %>
        </div>
        <div class="recruitment_text">
          開催日時：
          <%= recruitment.event_date %>
          <%= recruitment.start_time.name %>
          -
          <%= recruitment.end_time.name %>
        </div>
        <div class="recruitment_text">
          場所：
          <%= recruitment.prefecture.name %>
          >
          <%= recruitment.ball_park %>
        </div>
        <div class="recruitment_text">
          募集の種類：
          <%= recruitment.category.category_name %>
        </div>
        <div class="recruitment_text">
          レベル：
          <%= recruitment.level.name %>
        </div>
      </div>
    <% end %>
  </div>
</div>