<div class="main_content">
  <div class="recruitment">
    <%= form_with model: @recruitment_category, url: recruitments_path, local: true do |f| %>
      <%= render 'error_messages', model: @recruitment_category %>
      <table>
        <tr>
          <th>タイトル</th>
          <td><%= f.text_field :title, placeholder: "100字以内", class: "recruitment_input_form" %></td>
        </tr>
        <tr>
          <th>募集カテゴリ</th>
          <td><%= f.select :category_name, [["対戦相手", "対戦相手"], ["助っ人", "助っ人"]], class: "input_form", include_blank: "選択してください" %></td>
        </tr>
        <tr>
          <th>レベル</th>
          <td><%= f.collection_select(:level_id, Level.all, :id, :name, {}, class: "event_day_input_form") %></td>
        </tr>
        <tr>
          <th>定員</th>
          <td>
          <%= f.collection_select(:capacity_id, Capacity.all, :id, :name, {}, class: "event_day_input_form") %>
          <span class="note">※募集カテゴリが「対戦相手」の場合は、1を選択してください</span>
          </td>
        </tr>
        <tr>
          <th>開催エリア</th>
          <td><%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, class: "event_day_input_form") %></td>
        </tr>
        <tr>
          <th>球場</th>
          <td><%= f.text_field :ball_park, placeholder: "例)夢の島球場12面", class: "input_form" %></td>
        </tr>
        <tr>
          <th>開催日時</th>
          <td>
          <%= f.date_field :event_date, placeholder: "年/月/日", class: "event_day_input_form_date" %>
          <%= f.collection_select(:start_time_id, StartTime.all, :id, :name, {}, class: "event_day_input_form_time") %>
          -
          <%= f.collection_select(:end_time_id, EndTime.all, :id, :name, {}, class: "event_day_input_form_time") %><br>
          </td>
        </tr>
        <tr>
          <th>募集期限</th>
          <td><%= f.date_field :recruitment_deadline, placeholder: "年/月/日", class: "event_day_input_form_date" %></td>
        </tr>
        <tr>
          <th>本文</th>
          <td><%= f.text_area :recruitment_text, placeholder: "1000字以内", class: :recruitment_text_area %></td>
        </tr>
      </table>
      <div class="recruitment_post">
        <div class="recruitment_post_btn">
          <%= f.submit "募集を作成する", class: :form__btn %>
        </div>
      </div>
    <% end %>
    <div>
      <%= link_to "戻る", :back, class: :form__btn %>
    </div>
  </div>
</div>