<div>
  タイトル
  <%= @recruitment.title %>
</div>
<div>
  <%# 募集者追加、（マージ時コメントアウト消す） %>
  募集者
  <%= link_to user_path(@recruitment.user.id) do %>
    <%= @recruitment.user.nickname %>
  <% end %>
<div>
  募集カテゴリ
  <%= @recruitment.category.category_name %>
</div>
<div>
  レベル
  <%= @recruitment.level.name %>
</div>
<div>
  開催エリア
  <%= @recruitment.prefecture.name %>
</div>
<div>
  球場
  <%= @recruitment.ball_park %>
</div>
<div>
  開催日
  <%= @recruitment.event_date %>
  <%= @recruitment.start_time.name %>
      -
  <%= @recruitment.end_time.name %>
</div>
<div>
  募集期限
  <%= @recruitment.recruitment_deadline %>
</div>
<div>
  本文
  <%= @recruitment.recruitment_text %>
</div>
<% if @recruitment.recruitment_deadline > Time.now %>
  <% if current_user == @recruitment.user %>
    <%= link_to "編集", edit_recruitment_path(@recruitment.id) %>
    <%= link_to "削除", recruitment_path(@recruitment.id), method: :delete %>
  <% elsif @apply.nil? %>
    <%= link_to "応募メッセージを送る", new_recruitment_apply_path(@recruitment.id) %>
  <% else %>
    応募済みです
  <% end %>
<% else %>
  この募集は終了しました
<% end %>
  <%= link_to 'トップへ戻る', root_path %>
</div>
<% @recruitment.recruitment_deadline > Time.now %>