ユーザー詳細ページ
<div>
  <%= @user.nickname %>
</div>
<div>
  評価：
  良<%= @evaluation.good %>
  普<%= @evaluation.usually %>
  悪<%= @evaluation.bad %>
</div>
<div>
  ペナルティポイント：<%= @penalty_point.point %>
</div>
<% if @user == current_user %>
  <div>
    <%= link_to "募集管理", recruitment_managements_path %>
  </div>
  <div>
    <%= link_to "応募管理", applies_path %>
  </div>
  <div>
    <%= link_to "合意した募集", agreement_recruitment_agreements_path %>
  </div>
  <div>
    <%= link_to "合意した応募", agreement_apply_agreements_path %>
<% end %>
