合意した募集
<% @recruitments.each do |recruitment| %>
  <% agreement = Agreement.where(recruitment_id: recruitment.id) %>
  <% if agreement.present? %>
    <div>
      <%= link_to recruitment_path(recruitment.id) do %>
        <%= recruitment.title %>
      <% end %>
    </div>
    <div>
      <%= link_to user_path(recruitment.user.id) do %>
        <%= recruitment.user.nickname %>
      <% end %>
    </div>
    <div>
      開催日時：
      <%= recruitment.event_date %>
      <%= recruitment.start_time.name %>
      -
      <%= recruitment.end_time.name %>
    </div>
    <div>
      場所：
      <%= recruitment.prefecture.name %>
      >
      <%= recruitment.ball_park %>
    </div>
    <div>
      募集の種類：
      <%= recruitment.category.category_name %>
    </div>
    <div>
      レベル：
      <%= recruitment.level.name %>
    </div>
    <% applies = Apply.where(recruitment_id: recruitment.id) %>
    <% applies.each do |apply| %>
      <% agreement = Agreement.find_by(recruitment_id: apply.recruitment.id) %>
      <%= link_to agreement_path(agreement.id) do %>
        <div>
          <%= apply.user.nickname %>
        </div>
        <div>
          <%# メッセージ機能で実装 %>
          <div>
            <%= "送信者：" %>
          </div>
          <div>
            <%= "メッセージメッセージメッセージ" %>
          </div>
          <%# メッセージ機能で実装 %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>