合意した募集
<div class="content">
  <% @recruitments.each do |recruitment| %>
    <% agreement = Agreement.where(recruitment_id: recruitment.id) %>
    <% if agreement.present? %>
    <div class="recruitment_list_agreement">
      <div class="title">
        <%= link_to recruitment_path(recruitment.id) do %>
          <%= recruitment.title %>
        <% end %>
      </div>
      <div class="recruitment_text">
        開催日時：
        <%= recruitment.event_date %>
        <%= recruitment.start_time.name %>
        -
        <%= recruitment.end_time.name %>
      </div>
      <div class="recruitment_text">
        場所：
        <%= recruitment.prefecture.name %>
        >
        <%= recruitment.ball_park %>
      </div>
      <div class="recruitment_text">
        募集の種類：
        <%= recruitment.category.category_name %>
      </div>
      <div class="recruitment_text">
        レベル：
        <%= recruitment.level.name %>
      </div>
    </div>
      <% applies = Apply.where(recruitment_id: recruitment.id) %>
      <% applies.each do |apply| %>
        <% agreement = Agreement.find_by(apply_id: apply.id) %>
        <% if agreement.present? %>
          <div class="apply_message">
            <%= link_to agreement_path(agreement.id) do %>
              <div>
                <span class="applier">
                  応募者：
                  <%= apply.user.nickname %>
                </span>
              </div>
                <%# recruitment_idが募集に紐づくメッセージルームを取得 %>
                <% message_room = MessageRoom.find_by(apply_id: apply.id) %>
                <%# メッセージルームを特定 %>
                <% message = Message.where(message_room_id: message_room.id).last %>
              <div class="message_text">
                <% if message.user.id == current_user.id %>
                  あなた
                <% else %>
                  <%= message.user.nickname %>
                <% end %>
                <%= message.text %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <div>
    <%= link_to "戻る", user_path(current_user.id), class: :form__btn %>
  </div>
</div>