合意後キャンセルページ
<div>
  <%= @agreement.recruitment.title %>
</div>
<div>
  <%= link_to user_path(@agreement.recruitment.user.id) do %>
    <%= @agreement.recruitment.user.nickname %>
  <% end %>
</div>
<div>
  開催日時：
  <%= @agreement.recruitment.event_date %>
  <%= @agreement.recruitment.start_time.name %>
  -
  <%= @agreement.recruitment.end_time.name %>
</div>
<div>
  場所：
  <%= @agreement.recruitment.prefecture.name %>
  >
  <%= @agreement.recruitment.ball_park %>
</div>
<div>
  募集の種類：
  <%= @agreement.recruitment.category.category_name %>
</div>
<div>
  レベル：
  <%= @agreement.recruitment.level.name %>
</div>
<div>
  応募者：
  <%= @agreement.user.nickname %>
<div>
  キャンセルしますか？
</div>
<div>
  ※開催までの時間によってペナルティポイントが付与されます
</div>
<div>
  <%= link_to "ペナルティポイントについてはこちら", "#" %>
</div>
<% if @agreement.cancel_flag == false %>
  <div>
    <%= link_to "キャンセルする", cancel_complete_agreement_path(@agreement.id) %>
  </div>
<% end %>
<div>
  <%= link_to "戻る", agreement_path(@agreement.id) %>
</div>