<div>
  <%= @recruitment.title %>
</div>
<div>
  <%= link_to user_path(@recruitment.user.id) do %>
    <%= @recruitment.user.nickname %>
  <% end %>
</div>
<div>
  開催日時：
  <%= @recruitment.event_date %>
  <%= @recruitment.start_time.name %>
  -
  <%= @recruitment.end_time.name %>
</div>
<div>
  場所：
  <%= @recruitment.prefecture.name %>
  >
  <%= @recruitment.ball_park %>
</div>
<div>
  募集の種類：
  <%= @recruitment.category.category_name %>
</div>
<div>
  レベル：
  <%= @recruitment.level.name %>
</div>
<div>
  応募者：
  <%= @apply.user.nickname %>
</div>
<%= form_with model: @message, url: agreement_message_apply_messages_path(@apply.id), local: true do |f| %>
  <%= f.text_area :text, placeholder: "500字以内" %>
  <%= f.submit "応募メッセージを送信する" %>
<% end %>
<% @messages.each do |message| %>
  <div>
    <% if message.user.id == current_user.id %>
      あなた
    <% else %>
      <%= message.user.nickname %>
    <% end %>
  </div>
  <div>
    <%= message.text %>
  </div>
<% end %>
<% unless @recruitment.agreements.present? && @apply.user.agreements.present? %>
  <div>
    <%= link_to "合意する", yes_apply_agreements_path(@apply.id), method: :post %>
  </div>
  <div>
    <%= link_to "お断りする", refusal_apply_agreements_path(@apply.id), method: :post %>
  </div>
<% end %>
<div>
  <%= link_to "戻る", :back %>
</div>